.myNav{
	background-color: red;
	color: black;

}
body{
	color: purple;

}
img{
	width: 40%;

}
.s1{
    color: silver;
    background-color: pink;
    font-size: 60px;

}
.nice{
	color: orange;

}

	

}

